---
//Layout.astro
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Svelpy — Empresa de desarrollo de software especializada en construir aplicaciones web rápidas, escalables y elegantes. Transformamos ideas en productos digitales.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Svelpy" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <style>
      .bg-grid-pattern {
        background-image:
          linear-gradient(
            to right,
            var(--color-light-primary) 1px,
            transparent 1px
          ),
          linear-gradient(
            to bottom,
            var(--color-light-primary),
            1px,
            transparent 1px
          );
        background-size: 20px 20px;
      }
    </style>
  </head>
  <body class="bg-light-background overflow-x-hidden">
    <!-- Fondo de hoja cuadriculada -->
    <div class="fixed inset-0 -z-10">
      <!-- Cuadrícula principal -->
      <div class="absolute inset-0 bg-grid-pattern opacity-20"></div>
    </div>

    <slot />
    <Footer />
  </body>
</html>
